#Acceuil{
    background-image: url(Image/fantasy-wallpaper-20092816342427.jpg);
    background-attachment:fixed;
    background-position: 20% 80%;
}

.Acceuil{
    background-image: url(Image/Tabletop.jpg);
    background-position-x: 50%; 
}

.title{
    text-align: center;
    color: black;
    transform: translate(5px,150px);
    font-size: 25px;   
}

.formulaire{
    transform: translate(80px, 100px);
}

.sword{
    background-image: url(Image/sword.png);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: 145px, 10px;
}

.gold{
    background-image: url(Image/Piece.png);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: 145px, 10px;
}

.formulaire input{
    display: block;
    margin-bottom: 35px;
    position: center;
    transform: translate(0px, 10px);
} 

.formulaire input[type=submit] {
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    color: red;
    transition: all 0.5s ease;
    transform: translate(65px, 10px);
}

.formulaire input[type=submit]:hover {
    background-color: red;
    color: white;
}

.inputbasic{
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
}

.parchemin_mise{
    margin: 0%;
    padding: 0%;
    width: 20vw;
    transform: translate(600px,230px);
}

.mise{
    transform: translate(20px,-170px);
}

.mise input[type=submit] {
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    color: red;
    transition: all 0.5s ease;
    
}

.mise input[type=submit]:hover {
    background-color: red;
    color: white;
}

.bankroll2{
    color: black;
    transform: translate(0px,-80px);
}

.cards{
    text-align: center;
    transform: translate(0px,120px);
}

.bank{
    color: black;
    font-size: 20px;
}

.parchemin{
    background-image: url(Image/Parchemin.jpg);
    
    background-size: 365px;
    border: solid;
    height: 500px;
    width: 350px;
    background-color: black;
    margin-left: 39%;
    margin-top: 65px;
}

.sceau{
    width: 7vw;
    transform: translate(210px, 120px);
}

#form{
    text-align: center;
    padding-top: 20%;
    padding-inline-end: 40px;
}

.label{
    display: none;
    visibility: hidden;
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;}