#Acceuil{
    background-image: url(Image/fantasy-wallpaper-20092816342427.jpg);
    background-attachment:fixed;
    background-position: 20% 80%;
}

.Acceuil{
    background-image: url(Image/Tabletop.jpg);
    background-position-x: -40px ;
    overflow-x:hidden;
}

.title{
    text-align: center;
    color: black;
    transform: translate(5px,150px);
    font-size: 25px;   
}

.title1{
    margin: -80px;
    padding: none;
    color: black;
    font-size: 18px;
    transform: translate(-5px,-60px);
}

.title2{
    color: black;
    font-size: 18px;
    transform: translate(655px,160px);
}

.title3{
    width: 10vw;
    padding: none;
    transform: translate(678px,255px);
}

.formulaire{
    transform: translate(80px, 100px);
}

.message-error{
    color: black;
    font-size: 1vw;
    transform: translate(60px,93px);
}

.message-error2{
    color: white;
    font-size: 1vw;
    transform: translate(560px,130px);
}

.message-fin{
    color: white;
    transform: translate(0px);
}

.Replay{
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    color: red;
    transition: all 0.5s ease;
    transform: translate(13px,180px);
}

.Replay:hover{
    background-color: red;
    color: white;
}

.sword{
    background-image: url(Image/sword.png);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: 145px, 10px;
}

.gold{
    background-image: url(Image/Piece.png);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: 145px, 10px;
}

.formulaire input{
    display: block;
    margin-bottom: 35px;
    position: center;
    transform: translate(0px, 15px);
} 

.formulaire input[type=submit] {
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    color: red;
    transition: all 0.5s ease;
    transform: translate(65px, 15px);
}

.formulaire input[type=submit]:hover {
    background-color: red;
    color: white;
}

.inputbasic{
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
}

.parchemin_mise{
    margin: none;
    padding: none;
    width: 20vw;
    transform: translate(600px,230px);
}

.parchemin_mise2{
    margin: none;
    padding: none;
    width: 20vw;
    transform: translate(600px,369px); 
}

.parchemin_mise3{
    margin: none;
    padding: none;
    width: 20vw;
    transform: translate(600px,437px);
}

.mise{
    transform: translate(20px,-170px);
}

.mise input[type=submit] {
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    color: red;
    transition: all 0.5s ease;
}

.mise input[type=submit]:hover {
    background-color: red;
    color: white;
}

.validation{
    transform: translate(-290px,190px);
}

.cards2 input[type=submit] {
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    color: red;
    transition: all 0.5s ease;
}

.cards2 input[type=submit]:hover {
    background-color: red;
    color: white;
}

.bankroll1{
    margin-right: 700px;

    color:black;
    transform: translate(345px,-75px);
}

.bankroll2{
    color:black;
    padding: none;
    width: 50vw;
    transform: translate(690px,225px);
}

.bankroll3{
    padding: none;
    width: 50vw;
    transform: translate(690px,242px);
}

.cards{
    transform: translate(530px,120px);
}

.cards2{
    padding: none;
    width: 50vw;
    text-align: center;
    transform: translate(435px,-110px);
}

.cards3{
    padding: none;
    width: 50vw;
    text-align: center;
    transform: translate(353px,-148px);
}

.bank{
    color: black;
    font-size: 20px;
}

.parchemin{
    background-image: url(Image/Parchemin.jpg);
    background-size: 365px;
    border: solid;
    height: 500px;
    width: 350px;
    background-color: black;
    margin-left: 39%;
    margin-top: 65px;
}

.sceau{
    width: 7vw;
    transform: translate(210px, 120px);
}

#form{
    text-align: center;
    padding-top: 20%;
    padding-inline-end: 40px;
}

.label{
    display: none;
    visibility: hidden;
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;}

