<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for('static', filename="styles.css")}}'>
    <title>Poker</title>
</head>
<body class="Acceuil">
    <header>
        <h2 class="title"></h2>

    </header>

    <main>

        <div class="bankroll">

            
            
            <br>
            <br>
            <br>

            
            <img class="parchemin_mise2" src="static/Image/Parcheminancien.png"></img>
            <p class="bankroll2">Votre argent : {{session['newBanque']}}</p>
            
            
            <div class="tirage">

                
                <form class="cards2" action="/tirage" method="POST">
                    {% for card in session["drawed_cards"] %}
                        <input class="label" type="checkbox" class="form-check-input" id="{{ card }}" name="{{ card }}" />
                        <label class="form-check-label" for="{{ card }}">
                            <img class="card-img" data-card="{{card}}" data-keep="true" src="{{ url_for('static',filename='cards/'+card+'.png') }}" alt="card-video-poker" onclick="clickOnCardForReverse(this)"/>
                        </label>
                    {% endfor %}
                    <input class="validation" type="submit" value="Confirmer votre sélection">    
                </form>

            </div>

                
        </div>



    </main>

    <footer>
        
    </footer>
    <script type="text/javascript"
         src="{{ url_for('static',filename='scrpt.js') }}"></script>
</body>
</html>