<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for("static", filename="styles.css")}}'>
     <audio src="{{ url_for( 'static' ,filename='tavern.mp3')}}"></audio>
    <title>Poker</title>
</head>
<body class="Acceuil">
    <header>
        

    </header>

    <main>

        <div class="bankroll">

            <img class="parchemin_mise3" src="static/Image/Parcheminancien.png"></img>
            <h2 class="title3">Tirage finale !</h2>
            <p class="bankroll3">Votre argent : {{session['Banque']}}</p>
            
            
            <br>
            <br>
            <br>

            
            <div class="cards3">

                    {% for card in session["drawed_cards"] %}
                      <img class="card-img" data-card="{{card}}" data-keep="true" src="{{ url_for('static',filename='cards/'+card+'.png') }}" alt="card-video-poker" onclick="clickOnCardForReverse(this)"/>
                    {% endfor %}


                    
                        <div class="message-fin">{{ session["result"] }}</div>

                        <button class="Replay" onclick="restart()">Voulez vous rejouez ?</button>

            </div>

            

            

                
        </div>



    </main>

    <footer>
        
    </footer>
    <script type="text/javascript"
         src="{{ url_for('static',filename='scrpt.js') }}"></script>
         <script type="text/javascript">Musique({{session['musique']}})</script>
</body>
</html>











