<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for('static', filename="styles.css")}}'>
    <title>Poker</title>
</head>
<body>
    <header>
        <h2 class="title">Bienvenue au casino</h2>

    </header>

    <main>

        <div class="bankroll">

            <p class="bank">Votre argent : {{session['newBanque']}}</p>
            <p class="mise">Votre mise : {{session['Bet'] }}</p>
            
            <br>
            <br>
            <br>


            <div>

                    {% for card in session["drawed_cards"] %}
                      <img class="card-img" data-card="{{card}}" data-keep="true" src="{{ url_for('static',filename='cards/'+card+'.png') }}" alt="card-video-poker" onclick="clickOnCardForReverse(this)"/>
                    {% endfor %}


                    
                        <div class="message-error">{{ session["result"] }}

                            <button onclick="restart()">Replay</button>

                        </div>

            </div>

                
        </div>



    </main>

    <footer>
        
    </footer>
    <script type="text/javascript"
         src="{{ url_for('static',filename='scrpt.js') }}"></script>
</body>
</html>











