<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Poker IPSSI</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for( 'static' ,filename="styles.css")}}'>
    <script src=''></script>
</head>
<body id="Acceuil">
        <header>
                <h2 class ="title">TAVERN POKER</h2>

        </header>
<main>
        <div class="parchemin">
                {% if session['error-form'] %}

                <div class="message-error">{{ session["error-form"] }}

                </div>
                {% endif %}



                <form method="post" class="formulaire">
                        <input class="inputbasic sword" name ="age" type="number" value="O" placeholder="Entrez votre âge" required>
                        <input class="inputbasic gold" name ="Banque" type="number" value="O" placeholder="Placez votre Banque" required>
                        <input class="inputbasic" type="submit" value="Valider">
                </form>

                <img class="sceau" src="static/Image/warhammer.png"></img>
        </div>

</main>



<script type="text/javascript"
         src="{{ url_for('static',filename='scrpt.js') }}"></script>

</body>
</html>